<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>vdf</string>
			<key>CFBundleTypeName</key>
			<string>vdf File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.straight-tamago.misaka.vdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>misaka file</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.straight-tamago.misaka.misaka</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>purekfd file</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.straight-tamago.misaka.purekfd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>picasso file</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.straight-tamago.misaka.picasso</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AdelStar_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AdelStar_misaka</string>
				</array>
			</dict>
			<key>AdelStar_misaka2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AdelStar_misaka2</string>
				</array>
			</dict>
			<key>BomberFish_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BomberFish_misaka</string>
				</array>
			</dict>
			<key>Epos_misaka_pink_p1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Epos_misaka_pink_p1</string>
				</array>
			</dict>
			<key>Epos_misaka_pink_p2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Epos_misaka_pink_p2</string>
				</array>
			</dict>
			<key>FileSwitcherPro3D</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherPro3D</string>
				</array>
			</dict>
			<key>FileSwitcherProAlt3D</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherProAlt3D</string>
				</array>
			</dict>
			<key>FileSwitcherProAltFlat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherProAltFlat</string>
				</array>
			</dict>
			<key>FileSwitcherProAltMono</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherProAltMono</string>
				</array>
			</dict>
			<key>FileSwitcherProFlat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherProFlat</string>
				</array>
			</dict>
			<key>FileSwitcherProMono</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherProMono</string>
				</array>
			</dict>
			<key>FileSwitcherPro_Large</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>FileSwitcherPro_Large</string>
				</array>
			</dict>
			<key>Janneske_misaka_ext_v01</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Janneske_misaka_ext_v01</string>
				</array>
			</dict>
			<key>Janneske_misaka_ext_v02</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Janneske_misaka_ext_v02</string>
				</array>
			</dict>
			<key>JannikCrack_FileSwitcherPro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>JannikCrack_FileSwitcherPro</string>
				</array>
			</dict>
			<key>Outland3r2007_misakaS_blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Outland3r2007_misakaS_blue</string>
				</array>
			</dict>
			<key>Outland3r2007_misakaS_brown</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Outland3r2007_misakaS_brown</string>
				</array>
			</dict>
			<key>YangJiii_purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>YangJiii_purple</string>
				</array>
			</dict>
			<key>YangJiii_yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>YangJiii_yellow</string>
				</array>
			</dict>
			<key>bytefrost_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>bytefrost_misaka</string>
				</array>
			</dict>
			<key>hackzy_classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>hackzy_classic</string>
				</array>
			</dict>
			<key>haxi0sm_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>haxi0sm_misaka</string>
				</array>
			</dict>
			<key>iwishkem_Lime</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iwishkem_Lime</string>
				</array>
			</dict>
			<key>loy64_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>loy64_misaka</string>
				</array>
			</dict>
			<key>nbxy_misaka_dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nbxy_misaka_dark</string>
				</array>
			</dict>
			<key>nbxy_misaka_darklight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nbxy_misaka_darklight</string>
				</array>
			</dict>
			<key>nbxy_misaka_light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nbxy_misaka_light</string>
				</array>
			</dict>
			<key>oktfrds_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oktfrds_misaka</string>
				</array>
			</dict>
			<key>oktfrds_misaka2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oktfrds_misaka2</string>
				</array>
			</dict>
			<key>oktfrds_misaka3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>oktfrds_misaka3</string>
				</array>
			</dict>
			<key>phucdo_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>phucdo_misaka</string>
				</array>
			</dict>
			<key>phucdo_misaka_pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>phucdo_misaka_pink</string>
				</array>
			</dict>
			<key>tyler</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tyler</string>
				</array>
			</dict>
			<key>tyler1029_misaka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>tyler1029_misaka</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>haxi0_default</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Janneske_misaka_ext_v02</string>
			<key>CFBundleURLName</key>
			<string>com.straight-tamago.misaka.vdf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>misaka</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Epos_misaka_pink_p2</string>
			<key>CFBundleURLName</key>
			<string>com.straight-tamago.misaka.misaka</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>misaka</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>tyler1029_misaka</string>
			<key>CFBundleURLName</key>
			<string>com.straight-tamago.misaka.purekfd</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>misaka</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>tyler1029_misaka</string>
			<key>CFBundleURLName</key>
			<string>com.straight-tamago.misaka.picasso</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>misaka</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_nearby-devices._upd</string>
		<string>_nearby-devices._tcp</string>
		<string>_helper-test._tcp</string>
		<string>_helper-test._udp</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>IntentIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>vdf file</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.straight-tamago.misaka.vdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>misaka file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.straight-tamago.misaka.misaka</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>misaka</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>purekfd file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.straight-tamago.misaka.purekfd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>purekfd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>picasso file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.straight-tamago.misaka.picasso</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>picasso</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
